# web服务配置
WEB_APP_NAME=web服务 # 站点名称，影响API文档标题
WEB_CORS_ORIGINS=* # 跨域白名单，多个来源用逗号分隔，* 表示允许所有
WEB_CORS_EXPOSE_HEADERS=X-Process-Time # 允许前端读取的响应头，多个用逗号分隔

# 数据库配置
DB_HOST=152.136.228.231 # 数据库主机
DB_PORT=5432 # 数据库端口
DB_NAME=duyi_test_db # 数据库名称
DB_USER=admin # 连接账号
DB_PASSWORD=admin # 连接密码